<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<data>

		<record model="ir.actions.act_window" id="act_setting_template">
			<field name="name"> Setting Template</field>
			<field name="res_model">brt_report.template_report</field>
			<field name="target">current</field>
			<field name="context">{}</field> <!-- {'state': 'open'} -->
			<field name="domain">[]</field>
			<field name="limit">80</field> <!-- max 80 baris dlm 1 page -->
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">Tidak Ada Data</p>
			</field>
		</record>
	

		<menuitem name="Template Report" id="report_satu" action="act_setting_template" />

	</data>
</odoo>
